/*<!-- Author : Arleme J.-->*/

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 1em;
    font-size: calc(1em + 1vmin);
    line-height: 1.2em;
    line-height: calc(1.2em + 1vmin);
}

ul,
li {
    margin: 0
}

.nav {
    display: block;
    background-color: #F67E7D;
    display: flex;
    font-size: 0.9em;
    font-variant: all-small-caps;
    min-height: 3em;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 0
}

.nav ul {
    float: right;
    list-style-type: none;
    margin-right: 15px;
    padding: 0
}

.nav ul li {
    display: inline;
    padding: .5em 0.5em
}

.nav a {
    color: #FFF
}

.nav a:hover {
    background-color: ;
    color: #034042
}