/*
[ FONT ]*/

@font-face {
    font-family: 'Manjari';
    src: url('../fonts/manjari/Manjari-Regular.ttf');
}

@font-face {
    font-family: 'Manjari-Thin';
    src: url('../fonts/manjari/Manjari-Thin.ttf');
}

@font-face {
    font-family: 'Manjari-Bold';
    src: url('../fonts/manjari/Manjari-Bold.ttf');
}


/*FONT*/

.head .column1,
.head .column2 {
    font-family: 'Manjari' !important;
    font-size: 14px !important;
}

.body .column1,
.body .column2 {
    font-family: 'Manjari' !important;
    font-size: 14px !important;
}


/*Tableeeee///////*/

.table-container {
    width: 750px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.table10 {
    background-color: #fff;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
}

th,
td {
    font-weight: unset;
    padding: 0;
}

.table10-head th {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 0;
}

.table10-body td {
    padding: 0;
    margin: 0;
}


/*==================================================================
[ Fix header ]*/

.table10 {
    position: relative;
    padding-top: 0px;
}

.table10-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table10-body {
    max-height: 600px;
    overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table10.ver1 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-image: linear-gradient(180deg, #073043, #07668A)
}

.table10.ver1 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table10.ver1 .table10-body tr:nth-child(even) {
    background-color: #f8f6ff;
}


/*---------------------------------------------*/

.table10.ver1 {
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table10.ver1 .ps__rail-y {
    right: 5px;
}

.table10.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table10.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}

#videoElement {
    width: 100%;
    margin: 0;
    height: 560px;
    background-color: #07668A;
    padding-bottom: 1px;
}

@media screen and (max-width: 1201px) {
    .table10-body {
        max-height: 460px;
        overflow: auto;
    }
    .table-container {
        width: 850px;
    }
}