{% extends 'base.html' %} {% block contenu %}
<div class="table-container">
    <div class="table10 ver1 m-b-110">
        <div class="table10-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1"><span class="fa fa-camera" style="margin-right:10px;"></span>CAMERA IP : SRICAM SP017</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table10-body">
            <table>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column1">
                            <video autoplay="true" id="videoElement"></video>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}