{% extends 'base.html' %} {% block contenu %}
<div class="container-fluid">
    <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
            <div class="table100-head">
                <table>
                    <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1"><span class="fa fa-table" style="margin-right:10px;"></span>Date</th>
                            <th class="cell100 column2"><span class="fa fa-user" style="margin-right:10px;"></span>Nom</th>
                            <th class="cell100 column3"><span class="fa fa-user-plus" style="margin-right:10px;"></span> Prenoms</th>
                            <th class="cell100 column4"><span class="fa fa-user-graduate" style="margin-right:10px;"></span>Classe</th>
                            <th class="cell100 column5"><span class="fa fa-chalkboard-teacher" style="margin-right:10px;"></span>Matiere</th>
                            <th class="cell100 column5"><span class="fa fa-status" style="margin-right:10px;"></span>Status</th>
                            <th class="cell100 column6"><span class="fa fa-question-circle" style="margin-right:10px;"></span>Motifs</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table100-body js-pscroll">
                <table>
                    <tbody>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 AM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Retard</td>
                            <td class="cell100 column7">Maladie</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 PM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Abscent</td>
                            <td class="cell100 column7">Familiale</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 AM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Abscent</td>
                            <td class="cell100 column7">Familiale</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 PM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Retard</td>
                            <td class="cell100 column7">Maladie</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 AM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Retard</td>
                            <td class="cell100 column7">Maladie</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 PM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Retard</td>
                            <td class="cell100 column7">Maladie</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 AM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Abscent</td>
                            <td class="cell100 column7">Familiale</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 PM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Retard</td>
                            <td class="cell100 column7">Maladie</td>

                        </tr>
                        <tr class="row100 body">
                            <td class="cell100 column1">Mardi 05-02-20 AM</td>
                            <td class="cell100 column2">Arleme</td>
                            <td class="cell100 column3">Johnson</td>
                            <td class="cell100 column4">L1G2</td>
                            <td class="cell100 column5">INFO_350</td>
                            <td class="cell100 column6">Retard</td>
                            <td class="cell100 column7">Maladie</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}